src/main/webapp/alert.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) 
	JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) 
	JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://vaccination.org/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://vaccination.org/" name="VaccinationBService">
	<wsp:Policy xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
		wsu:Id="WS2007FederationHttpBinding_IVaccinationServiceBindingPolicy">
		<sp:SignedEncryptedSupportingTokens>
			<wsp:Policy>
				<sp:UsernameToken
					sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
					<wsp:Policy>
						<sp:WssUsernameToken10 />
					</wsp:Policy>
				</sp:UsernameToken>
			</wsp:Policy>
		</sp:SignedEncryptedSupportingTokens>
		<sp:TransportBinding>
			<wsp:Policy>
				<sp:AlgorithmSuite>
					<wsp:Policy>
						<sp:Basic128 />
					</wsp:Policy>
				</sp:AlgorithmSuite>
				<sp:IncludeTimestamp />
				<sp:Layout>
					<wsp:Policy>
						<sp:Lax />
					</wsp:Policy>
				</sp:Layout>
				<sp:TransportToken>
					<wsp:Policy>
						<sp:HttpsToken RequireClientCertificate="false" />
					</wsp:Policy>
				</sp:TransportToken>
			</wsp:Policy>
		</sp:TransportBinding>
		<sp:Wss10 />
		<wsam:Addressing />
	</wsp:Policy>
	<types>
		<xsd:schema>
			<xsd:import namespace="http://vaccination.org/"
				schemaLocation="http://localhost:8282/alert.schema.xml" />
		</xsd:schema>
	</types>
	<message name="UpdateHistory">
		<part name="parameters" element="tns:UpdateHistory" />
	</message>
	<message name="UpdateHistoryResponse">
		<part name="parameters" element="tns:UpdateHistoryResponse" />
	</message>
	<message name="Exception">
		<part name="fault" element="tns:Exception" />
	</message>
	<message name="FindHistory">
		<part name="parameters" element="tns:FindHistory" />
	</message>
	<message name="FindHistoryResponse">
		<part name="parameters" element="tns:FindHistoryResponse" />
	</message>
	<portType name="IVaccinationService">
		<operation name="UpdateHistory">
			<input
				wsam:Action="http://vaccination.org/IVaccinationService/UpdateHistoryRequest"
				message="tns:UpdateHistory" />
			<output
				wsam:Action="http://vaccination.org/IVaccinationService/UpdateHistoryResponse"
				message="tns:UpdateHistoryResponse" />
			<fault message="tns:Exception" name="Exception"
				wsam:Action="http://vaccination.org/IVaccinationService/UpdateHistory/Fault/Exception" />
		</operation>
		<operation name="FindHistory">
			<input
				wsam:Action="http://vaccination.org/IVaccinationService/FindHistoryRequest"
				message="tns:FindHistory" />
			<output
				wsam:Action="http://vaccination.org/IVaccinationService/FindHistoryResponse"
				message="tns:FindHistoryResponse" />
			<fault message="tns:Exception" name="Exception"
				wsam:Action="http://vaccination.org/IVaccinationService/FindHistory/Fault/Exception" />
		</operation>
	</portType>
	<binding name="WS2007FederationHttpBinding_IVaccinationServiceBinding"
		type="tns:IVaccinationService">
		<wsp:PolicyReference
			URI="#WS2007FederationHttpBinding_IVaccinationServiceBindingPolicy" />
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="UpdateHistory">
			<soap12:operation soapAction="" />
			<input>
				<soap12:body use="literal" />
			</input>
			<output>
				<soap12:body use="literal" />
			</output>
			<fault name="Exception">
				<soap12:fault name="Exception" use="literal" />
			</fault>
		</operation>
		<operation name="FindHistory">
			<soap12:operation soapAction="" />
			<input>
				<soap12:body use="literal" />
			</input>
			<output>
				<soap12:body use="literal" />
			</output>
			<fault name="Exception">
				<soap12:fault name="Exception" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="VaccinationBService">
		<port name="WS2007FederationHttpBinding_IVaccinationService"
			binding="tns:WS2007FederationHttpBinding_IVaccinationServiceBinding">
			<soap12:address
				location="https://soa.alertiis.org:443/webservicestrn/VaccinationBService" />
		</port>
	</service>
</definitions>
